body {
    background: lightgray;
}

@media (min-width: 576px) {
    .jumbotron {
      padding: 0; 
      margin: 5px;
  }
  }

  .jumbotron {
      padding-left: 30px;
      padding-right: 30px;
      padding-top: 10px;
      padding-bottom: 10px;
  }

.navbar {
    
}

.info {
    text-align: left;
    margin-left: 25px;
    margin-right: 25px;
    margin-top: 30px;
}

.foot {
    background: darkgray;
    padding-top: 15px;
    padding-bottom: 15px;
    text-align: center;
    margin-top: 25px;
    border-top: 1px solid black;
    position: fixed;
    width: 100%;
    bottom: 0;
}

.rounded {
    margin-top: 15%;
    height: 350px;
}